.idea
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
async
blocking_example
cmake_install.cmake
*.build/
*.xcodeproj/
vendor/
/tmp

# binaries

write_file_blocking
write_file_nonblocking
write_file_blocking_threads
kineticstat
read_file_blocking
read_file_nonblocking
set_acls
setclusterversion
setpin
delete_file_blocking
delete_file_nonblocking
hello_kinetic
ise
firmware_update
dump_keyspace
copydrive
